MainWindow {
    background-color:#FFF;
}

QSplitter::handle {
background : rgba(172, 172, 172, 255);
width: 2px; /* when vertical */
height: 2px; /* when horizontal */

border-radius: 2px;
}

QSplitter::handle:hover {
background:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(102, 102, 102, 255), stop:1 rgba(255, 255, 255, 255));
}
